.site-info__about{
    padding-top: 28px;
}
.info__about-row {
    @include flex(center, space-between);
    
}

.about-row__title {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    color: $black-color;
}

.about__row-info {
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    color: $black-color;
}
.red{
    color: red;
}